/* Home.css */

.homepage {
  background-color: #f0f0f0; /* Background color for the whole page */
  height: 100vh; /* Make the container take the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box {
  text-align: center;
}

.hero {
  background-color: #007BFF; /* Background color for the hero section */
  color: #fff; /* Text color inside the hero section */
  padding: 20px;
  border-radius: 5px;
}

.hero-content {
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 16px;
}
